/**
 * Place your custom CSS styles here.
 **/


.disabled-option .freebirdThemedRadio, .freebirdThemedCheckbox {
    pointer-events: none;
}

.disabled-option > label {
    opacity: 0.3;
    text-decoration: line-through;
}

/* bulma delete */
.x-button {
    background-color: rgba(10, 10, 10, .2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width: 20px;
    user-select: none;
    margin: 10px;
    display: none;
}

.x-button:hover {
    display: block;
    background: red;
}

.x-button::before {
    height: 2px;
    width: 50%;
}

.x-button::after, .x-button::before {
    background-color: #fff;
    content: " ";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.x-button::after {
    height: 50%;
    width: 2px;
}

.freebirdFormviewerViewItemsRadioOptionContainer:hover .x-button {
    display: block;
}


.freebirdFormviewerViewItemsRadioOptionContainer, .freebirdFormviewerViewItemsCheckboxContainer {
    display: flex;
}


.freebirdFormviewerViewItemsCheckboxChoice:hover .x-button {
    display: block;
    margin: 0;
}

.no-click {
    pointer-events: none;
}

/* text field */
.text-counter-container{
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
}

.text-counter{
    position: absolute;
    right: 0px;
    -moz-osx-font-smoothing: grayscale;
    font-size: .75rem;
    line-height: 1.25rem;
    letter-spacing: .0333333333em;
    display: inline-block;
    line-height: normal;
    margin-left: auto;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 0;
    white-space: nowrap;

}