.google-improvements-no-click {
    pointer-events: none;
}

/* text field */
.google-improvements-text-counter-container {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
}

.google-improvements-text-counter {
    position: absolute;
    right: 0px;
    -moz-osx-font-smoothing: grayscale;
    font-size: .75rem;
    line-height: 1.25rem;
    letter-spacing: .0333333333em;
    display: inline-block;
    line-height: normal;
    margin-left: auto;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 0;
    white-space: nowrap;
}

/* disabled option */
.google-improvements-disabled-option .freebirdThemedRadio, .freebirdThemedCheckbox {
    pointer-events: none;
}

.google-improvements-disabled-option > label {
    opacity: 0.3;
    text-decoration: line-through;
}

/* bulma delete button */
.google-improvements-x-button {
    background-color: rgba(10, 10, 10, .2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width: 20px;
    user-select: none;
    margin: 10px;
    display: none;
}

.google-improvements-x-button:hover {
    display: block;
    background: red;
}

.google-improvements-x-button::before {
    height: 2px;
    width: 50%;
}

.google-improvements-x-button::after, .google-improvements-x-button::before {
    background-color: #fff;
    content: " ";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.google-improvements-x-button::after {
    height: 50%;
    width: 2px;
}

.freebirdFormviewerViewItemsRadioOptionContainer:hover .google-improvements-x-button {
    display: block;
}

.freebirdFormviewerViewItemsCheckboxChoice:hover .google-improvements-x-button {
    display: block;
    margin: 0;
}

.freebirdFormviewerViewItemsRadioOptionContainer, .freebirdFormviewerViewItemsCheckboxContainer {
    display: flex;
}


/*page background*/
.google-improvements-dark-theme .freebirdFormviewerViewFormContentWrapper,
.google-improvements-dark-theme body {
    background: #121212 !important;
}

/*item background*/
.google-improvements-dark-theme .freebirdFormviewerViewItemsItemItem,
.google-improvements-dark-theme .freebirdFormviewerViewHeaderHeader {
    background: #222222 !important;
    border: 1px solid #2c2c2c !important;
}


.google-improvements-dark-theme .freebirdCustomFont, .google-improvements-dark-theme .freebirdFormviewerViewFormContent, .google-improvements-dark-theme .freebirdFormviewerViewHeaderDescription,
.google-improvements-dark-theme .freebirdFormviewerViewItemsRadioLabel, .google-improvements-dark-theme .docssharedWizToggleLabeledLabelText,
.google-improvements-dark-theme .freebirdFormviewerViewItemsTextTextItem .freebirdFormviewerViewItemsTextShortText .exportInput,
.google-improvements-dark-theme .freebirdFormviewerViewItemsTextTextItem .freebirdFormviewerViewItemsTextLongText .exportTextarea,
.google-improvements-dark-theme .freebirdFormviewerViewItemsGridCell,
.google-improvements-dark-theme .freebirdMaterialScalecontentLabel, .google-improvements-dark-theme .freebirdMaterialScalecontentRangeLabelContainer,
.google-improvements-dark-theme .freebirdFormviewerViewItemsSectionheaderDescriptionText,
.google-improvements-dark-theme .freebirdFormviewerViewNavigationPercentComplete,
.google-improvements-dark-theme .freebirdFormviewerViewFooterImageContainer span {
    color: white !important;
}

.google-improvements-dark-theme .freebirdFormviewerViewFooterImageContainer img {
    background: white;
}

.google-improvements-dark-theme .freebirdFormviewerViewItemsGridUngraded freebirdFormviewerViewItemsGridRowGroup {
    background: grey !important;
}

.google-improvements-dark-theme .google-improvements-x-button {
    background: grey;
}

.google-improvements-dark-theme .google-improvements-x-button:hover {
    display: block;
    background: red;
}

.google-improvements-dark-theme .freebirdFormviewerViewItemsGridPinnedHeader .freebirdFormviewerViewItemsGridRow.freebirdFormviewerViewItemsGridColumnHeader .freebirdFormviewerViewItemsGridCell:first-child,
.google-improvements-dark-theme .freebirdFormviewerViewItemsGridSpacerRow {
    background: transparent !important;
}

.google-improvements-dark-theme .quantumWizTextinputPapertextareaUnderline,
.google-improvements-dark-theme .quantumWizTextinputPaperinputUnderline,
.google-improvements-dark-theme .quantumWizTextinputSimpleinputUnderline {
    background: hsl(0, 0%, 40%) !important;
}

.google-improvements-dark-theme .freebirdFormviewerViewItemsGridPinnedHeader .freebirdFormviewerViewItemsGridUngraded .freebirdFormviewerViewItemsGridCell:first-child,
.google-improvements-dark-theme .freebirdFormviewerViewItemsGridScrollingData .freebirdFormviewerViewItemsGridUngraded,
.google-improvements-dark-theme .freebirdFormviewerViewItemsGridScrollingData .freebirdFormviewerViewItemsGridUngraded:nth-child(odd),
.google-improvements-dark-theme .freebirdFormviewerViewItemsGridPinnedHeader .freebirdFormviewerViewItemsGridUngraded:nth-child(odd) .freebirdFormviewerViewItemsGridCell:first-child,
.google-improvements-dark-theme .freebirdFormviewerViewItemsGridScrollingData .freebirdFormviewerViewItemsGridUngraded:nth-child(even),
.google-improvements-dark-theme .freebirdFormviewerViewItemsGridPinnedHeader .freebirdFormviewerViewItemsGridUngraded:nth-child(even) .freebirdFormviewerViewItemsGridCell:first-child {
    background: hsl(0, 0%, 20%) !important;
}

.google-improvements-dark-theme .quantumWizTogglePapercheckboxInnerBox {
    border: 8px solid #222222 !important;
}

.google-improvements-dark-theme .freebirdFormviewerViewNavigationPasswordWarning,
.google-improvements-dark-theme .freebirdDisclaimerColor, .google-improvements-dark-theme .freebirdDisclaimerColor a {
    color: #70757a !important;
}


.google-improvements-dark-theme .freebirdFormviewerViewItemsTextTextItem .freebirdFormviewerViewItemsTextShortText .exportLabel,
.google-improvements-dark-theme .freebirdFormviewerViewItemsTextTextItem .freebirdFormviewerViewItemsTextLongText .exportLabel {
    color: hsl(0, 0%, 70%) !important;
}

.google-improvements-dark-theme a {
    color: skyblue;
}

.google-improvements-float {
    position: fixed;
    width: 48px;
    height: 48px;
    bottom: 96px;
    right: 24px;
    background-color: cornflowerblue;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
}

.google-improvements-dark-theme .google-improvements-float {
    background-color: steelblue !important;
}

.google-improvements-moon-icon {
    margin-top: 12px !important;
}